<head>
    {% include 'scripts.html' %}
    <title>Products - Flask Shop</title>
</head>
<body>
        <div class="container">
                {% include 'navbar.html' %}
                
            <div class="row ml-4 mt-4 mr-4 mb-4">
                <!--Start Products-->
                    <div class="col">
                        {%  if search_item != None %}
                        <h2>You searched for: {{ search_item }}</h2>
                        
                        <form method="get" action="search">
                            <div class="row">
                            <div class="col-10">
                                <input name="query" class="form-control mr-sm-2" type="search" value="{{ search_item }}" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-primary my-2 my-sm-0" style="width:100%" type="submit">Search</button>
                            </div> 
                        </div> 
                            </form>
                              {% endif %}
                        <br>
                        {%  for row in rows %}
                            <div class="card mb-3">
                                    <div class="row no-gutters">
                                      <div class="col-md-4 text-center align-self-center">
                                            <img style="height: 200px; overflow: hidden; padding: 10px" src="{{   row["image_url"] }}" alt="">
                                        </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h5 class="card-title">{{ row["name"] }}</h5>
                                          <p class="card-text">{{ row["desc"] }}</p>
                                          <a href="/product/{{ row["id"] }}" class="btn btn-primary float-right ml-4 mb-4">Send me details!</a>
                                          <h4 class="float-right">Price: ₹ {{ row["price"] }}</h4>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        {%  endfor  %}
                                                     
                    </div>
                <!--End Products-->
            </div>
            <div class="row" style="bottom:0px">
                <div class="col-12">
                        {% include 'footer.html' %}
                </div>
            </div>
        </div>
</body>